<h1>Clients#index</h1>
<p>Find me in app/views/clients/index.html.erb</p>
<table>
  <thead>
    <tr>
      <th>Code client</th>
      <th>Societe</th>
      <th>AMV</th>
      <th>Nombre d'échantillons</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
      <td><%= client.code %></td>
      <td><%= client.society %></td>
      <td><%= client.amv %></td>
      <td><%= client.echantillons.size %></td>
      <td><%= link_to "Nouvel échantillon",new_client_echantillon_path(client)%></td>
      <td><%= link_to "Nouvelle prestation",new_client_prestation_path(client)%></td>
      </tr>
    <%end %>
  </tbody>
</table>
